langchain
ipykernel
python-dotenv
langchain-community
pypdf
bs4
arxiv
wikipedia
pymupdf
lanchain-text-splitters
chromadb
sentence-transformers
langchain-openai
langchain_huggingface
faiss-cpu
langchain_chroma